<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>HR Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/hr">HR Home</a></li>
                    <li><i class="fa fa-square-o"></i>HR Home</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Tickets</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/parameters/countries" class="btn btn-primary">Manage Countries</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Ticket Status</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/parameters/modules" class="btn btn-primary">Manage Modules</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </section>
</div>

</body>
</html>
