<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Parameters</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
                    <li><i class="fa fa-square-o"></i>Parameters</li>
                </ol>
            </div>
        </div>
    <div class="container" style="width: 70%">
    <div class="row justify-content-center" >
        <div class="col-lg-12">
            <form class="form-horizontal" th:action="@{/parameters/suppliers}" method="post">
                <section class="panel">
                    <header class="panel-heading">
                        Add New Supplier Record
                    </header>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="txtIdAdd" class="col-sm-4 col-form-label">Id: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required id="txtIdAdd" name="id" placeholder="Id" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtNameAdd" class="col-sm-4 col-form-label">Name: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtNameAdd" required name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="txtEmailAdd" required name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtWebsiteAdd" class="col-sm-4 col-form-label">website: </label>
                                <div class="col-sm-6">
                                    <input pattern="kindsonthegenius.com" type="text" class="form-control" id="txtWebsiteAdd" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtAddressAdd" class="col-sm-4 col-form-label">Address</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="txtAddressAdd" required name="address" placeholder="Address" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Country: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ddlCountryAdd" name="countryid" required>
                                        <option th:value="${null}">-SELECT-</option>
                                        <option th:each="country : ${countries}"
                                                th:value="${country.id}"
                                                th:text="${country.description}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ddlStateAdd" class="col-sm-4 col-form-label">State/Province: </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ddlStateAdd" name="stateid">
                                        <option th:value="${null}">-SELECT-</option>
                                        <option th:each="state : ${states}"
                                                th:value="${state.id}"
                                                th:text="${state.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtCityAdd" class="col-sm-4 col-form-label">City: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtCityAdd" name="city" placeholder="City" pattern="Orlu|Uzii">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtPhoneAdd" class="col-sm-4 col-form-label">Phone: </label>
                                <div class="col-sm-6">
                                    <input list="cities" type="text" class="form-control" id="txtPhoneAdd" name="phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtMobileAdd" class="col-sm-4 col-form-label">Mobile: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtMobileAdd" name="mobile" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtDetailsAdd" class="col-sm-4 col-form-label">Details.: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtDetailsAdd" name="details" placeholder="Details">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel">

                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/parameters/suppliers" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </section>
            </form>
        </div>
    </div>
    </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script language="JavaScript">
        $('document').ready(function () {
            $('#ddlCountryAdd').on('change',function () {
                $('#ddlStateAdd').empty().append('<option value="null">-SELECT-</option>');
                var countryid = $(this).val();
                var href = "http://localhost:8081/parameters/country/" + countryid
                $.get(href, function (country, status) {
                    var states = country.states;
                    for (var i = 0; i <= states.length-1; i++) {
                        $('#ddlStateAdd').append('<option value="' + states[i].id + '">' + states[i].name + '</option>');
                    }
                })
            })
        })
    </script>
</th:block>
</body>
</html>
