<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Vehicle Movement Details</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/fleet">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/fleet/movements">Vehicle Movement List</a></li>
                    <li><i class="fa fa-square-o"></i>Vehicle Movement Details</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <form class="form-horizontal">
                    <div class="row justify-content-center white-bg">
                        <section class="panel">
                            <header class="panel-heading">
                                Vehicle Movement Details
                            </header>
                            <br>
                            <div class="col-lg-6">
                                <section class="panel">
                                    <div class="form-group row">
                                        <label for="idAdd" class="col-sm-4 col-form-label">Id:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${movement.id}" id="idAdd"
                                                   name="id" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlVehicleAdd" class="col-form-label col-sm-4">Vehicle: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlVehicleAdd" name="vehicleid" readonly>
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="vehicle : ${vehicles}"
                                                        th:selected="${vehicle.id}==${movement.vehicleid}?True:False"
                                                        th:value="${vehicle.id}"
                                                        th:text="${vehicle.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlLocation1Add" class="col-form-label col-sm-4">Departed
                                            from: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlLocation1Add" name="locationid1"
                                                    readonly>
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="location : ${locations}"
                                                        th:value="${location.id} ==${movement.locationid1}"
                                                        th:text="${location.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="date1Add" class="col-form-label col-sm-4">Departure Date:</label>
                                        <div class="col-sm-6">
                                            <input type="date" th:field="${movement.date1}" class="form-control"
                                                   id="date1Add" name="date1" readonly>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-6">
                                <section class="panel">
                                    <div class="form-group row">
                                        <label for="ddlLocation2Add" class="col-form-label col-sm-4">Arrived
                                            at: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlLocation2Add" name="locationid2"
                                                    readonly>
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="location : ${locations}"
                                                        th:selected="${location.id}==${movement.locationid2}?True:False"
                                                        th:value="${location.id}"
                                                        th:text="${location.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="date2Add" class="col-form-label col-sm-4">Arrival date:</label>
                                        <div class="col-sm-6">
                                            <input type="date" th:field="${movement.date2}" class="form-control"
                                                   id="date2Add" name="date2" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="remarksAdd" class="col-form-label col-sm-4">Remarks:</label>
                                        <div class="col-sm-6">
                                            <input type="text" th:value="${movement.remarks}" class="form-control"
                                                   id="remarksAdd" name="remarks" readonly>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>
                    <br>
                    <div class="row white-bg">
                        <div class="panel-body">
                            <button class="btn btn-primary" disabled>
                                Save
                            </button>
                            <a href="/fleet/movements" class="btn  btn-warning">
                                Exit
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>
