<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Employee Edit</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/hr">HR Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/hr/employees">Employees List</a></li>
                    <li><i class="fa fa-square-o"></i>Employee Edit</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <form class="form-horizontal" th:action="@{/hr/employees}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            Edit Employee Record
                        </header>
                        <br>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Id: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.id}" name="id"
                                               readonly placeholder="Id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlTitleEdit" name="title">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Mr." th:selected="${employee.title} == 'Mr.'">Mr.</option>
                                            <option value="Ms." th:selected="${employee.title} == 'Ms.'">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Initials: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.initials}"
                                               name="initials" placeholder="Initials">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Social Security No.: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               th:value="${employee.socialSecurityNumber}" name="socialSecurityNumber"
                                               placeholder="Social Security Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Firstname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.firstname}"
                                               name="firstname" placeholder="Firstname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Lastname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.lastname}"
                                               name="lastname" placeholder="Lastname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Othername: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.othername}"
                                               name="othername" placeholder="Othername">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlGenderEdit" name="gender">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="MALE" th:selected="${employee.gender} == 'MALE'">MALE
                                            </option>
                                            <option value="FEMALE" th:selected="${employee.gender} == 'FEMALE'">FEMALE
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlNationalityEdit"
                                           class="col-sm-4 col-form-label">Nationality: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlNationalityEdit" name="countryid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="country : ${countries}"
                                                    th:selected="${country.id} == ${employee.countryid}?True:False"
                                                    th:value="${country.id}"
                                                    th:text="${country.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Address</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" th:field="${employee.address}" name="address"
                                                  placeholder="Address" rows="2"></textarea>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Date of Birth:</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${employee.dateOfBirth}"
                                               name="dateOfBirth" placeholder="Date of Birth">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Hire Date:</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${employee.hireDate}"
                                               name="hireDate" placeholder="Hire Date">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlStateEdit" class="col-sm-4 col-form-label">State/Province: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlStateEdit" name="stateid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="state : ${states}"
                                                    th:selected="${state.id} == ${employee.stateid}?True:False"
                                                    th:value="${state.id}"
                                                    th:text="${state.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">City: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.city}" name="city"
                                               placeholder="City">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Phone: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.phone}"
                                               name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Mobile: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.mobile}"
                                               name="mobile" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlMaritalStatusEdit" class="col-sm-4 col-form-label">Marital
                                        Status: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlMaritalStatusEdit" name="maritalStatus">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Married"
                                                    th:selected="${employee.maritalStatus} == 'Married'">Married
                                            </option>
                                            <option value="Single" th:selected="${employee.maritalStatus} == 'Single'">
                                                Single
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" th:value="${employee.email}"
                                               name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlJobTitleEdit" class="col-sm-4 col-form-label">Job Title</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlJobTitleEdit" name="jobtitleid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="jobTitle : ${jobTitles}"
                                                    th:selected="${jobTitle.id} == ${employee.jobtitleid}?True:False"
                                                    th:value="${jobTitle.id}"
                                                    th:text="${jobTitle.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlEmployeeTypeEdit" class="col-sm-4 col-form-label">Employee
                                        Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlEmployeeTypeEdit" name="employeetypeid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="employeeType : ${employeeTypes}"
                                                    th:selected="${employeeType.id} == ${employee.employeetypeid}?True:False"
                                                    th:value="${employeeType.id}"
                                                    th:text="${employeeType.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fupImageEdit" class="col-sm-4 col-form-label">Select Image: </label>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fupImageEdit" name="photo"
                                               placeholder="Select File">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Username</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:value="${employee.username}" name="username"
                                               placeholder="Username">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/hr/employees" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>
