<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>HR Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/hr">HR Home</a></li>
                    <li><i class="fa fa-square-o"></i>HR Home</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Employees</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employees" class="btn btn-primary">Employee Files</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Job Roles</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/jobTitles" class="btn btn-primary">Job Roles</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Departments</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/parameters/departments" class="btn btn-primary">Manage Departments</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Employee Types</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employeeTypes" class="btn btn-primary">View Employee Types</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Employee Status</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employeeStatuses" class="btn btn-primary">View Employee Status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </section>
</div>

</body>
</html>
